<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/solid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<!--Main header-->
<div class="container-fluid main_nav_bar">
    <div class="container main_nav_bar_inner">
        <div class="row align-items-center">

            <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                <div class="menu_icon_header">
                    <button (click)="openMenu()"><i class="fa fa-bars menuIcon" aria-hidden="true "></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                <div class="menu_logo">
                    <img src="../../../../assets/images/Brand_logo.png" class="img-fluid logimg"
                        alt="Pharma Click Logo ">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="search_menu mr-2">
                        <div class="menuDiv">
                            <a (click)="openSearch() ">
                                <i class="fa fa-search menuIcon mt-2 mx-2 float-end " aria-hidden="true "></i>
                            </a>
                        </div>
                    </div>
                    <div class="notification_icon ">
                        <a routerLink="/notifications">
                            <i class="fa fa-bell-o" aria-hidden="true "></i>
                            <div class="badge ">.</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div [class]="classMenu" id="side_menu_drawer">
        <div class="main1" id="main">
            <div class="nav__links" id="closN">
                <a class="closebtn" (click)="closeNav()"><i class="fa-solid fa-xmark"></i></a>
                <div class="profile justify-content-start">
                    <span class="profileImgBack">
                        <img class="profilepic" [src]="base64textString" alt="Profile Image"
                            onerror="this.src='../../../../../assets/images/user.png'" />
                    </span>
                    <h2 class="profileTitle ">{{profileName}}</h2>
                </div>
                <ul class="mx-auto">
                    <li><i class="far fa-user"></i> <a routerLink="/profile" class="">My Account</a>
                    </li>
                    <li><i class="fa fa-briefcase "></i>
                        <a routerLink="/profile" class="">Job Profile</a>
                    </li>
                    <li>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <a class="feat-btn">Saved Items
                            <span class="fa-solid fa-angle-right first " aria-hidden="true"></span>
                        </a>
                        <ul class="feat-show">
                            <li><a routerLink="/GetSaveItem/Company">Companies</a></li>
                            <li><a routerLink="/GetSaveItem/News">News</a></li>
                            <li><a routerLink="/GetSaveItem/Events">Events</a></li>
                            <li><a>Blogs</a></li>
                            <li><a>Jobs</a></li>
                        </ul>
                    </li>
                    <li><i class=" fa-solid fa-message  " style="font-weight: normal; "></i> <a class=" ">Chat</a>
                    </li>
                    <li>
                        <i class="fa fa-calendar-o  "></i> <a class=" ">Calender</a>
                    </li>
                    <li>
                        <i class="fa fa-star-o  "></i> <a class=" ">Rated Companies</a>
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up  "></i> <a class=" ">Following</a>
                    </li>
                    <li>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <a class="feat-btn1">Setting
                            <span class="fa-solid fa-angle-right first1" aria-hidden="true"></span>
                        </a>
                        <ul class="feat-show1">
                            <li><a>Notification</a></li>
                            <li><a routerLink="/auth/change-password">Change Password</a></li>
                            <li><a routerLink="/alert">Alert</a></li>
                            <li><a>Rate Us</a></li>
                            <li (click)="moveToPrivacy()">
                                <a routerLink="/privacyPolicy ">Privacy & policy</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="far fa-circle-question  "></i> <a class=" ">Help & FAQs</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o  "></i> <a routerLink="/contact " class=" ">Contact Us</a>
                    </li>
                    <li>
                        <a class=" " (click)="logout() "> <i class="fas fa-arrow-right-to-bracket  "></i> Sign
                            Out</a>
                    </li>
                </ul>
            </div>
            <div class=" nav__overlay " (click)="closeMenu() "></div>
        </div>
        <div id="errorMsg" class="mx-3 mt-5">
            <!-- <ul ></ul> -->
        </div>
    </div>
</div>

<app-search-blogs [classSearch1]="classSearch1" (toggleEvent)="receiveSearchMesg($event)"></app-search-blogs>

<!--Main header-->
<div class="container blog_main_wrapper">
    <div class="row justify-content-center set-to-top">
        <!-- <div class="left_arrow">
            
        </div> -->
        <div class="col-lg-6 text-left">
            <i class="fa fa-arrow-left" (click)="goBack()" aria-hidden="true" style="float: left;    font-size: 28px;
            margin-right: 13px;"></i>
            <h2 class="content_heading mb-3">Blogs</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 co-sm-12 hidden-sm hidden-xs mt-2">
            <div class="left_side_icon_listing column_bg_border">
                <div class="hexagon_img">
                    <a routerLink="/home/product/category">
                        <h1 class="title">
                            <i class="fa fa-comments nav__icon" aria-hidden="true"></i>
                            <div class="content">Marketplace</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/allnews">
                        <h1 class="title">
                            <i class="fa fa-newspaper-o nav__icon" aria-hidden="true"></i>
                            <div class="content">News</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/events">
                        <h1 class="title">
                            <i class="fa fa-globe nav__icon" aria-hidden="true"></i>
                            <div class="content">Events</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/blogs">
                        <h1 class="title1" [routerLinkActive]="'active-link1'"
                            [class.active-link1]="path1=='/blogs/blogslist' ">
                            <i class="fa-solid fa-message nav__icon"></i>
                            <div class="content">Blogs</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/job">
                        <h1 class="title">
                            <i class="fas fa-user-tie nav__icon"></i>
                            <div class="content">Jobs</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/all-section">
                        <h1 class="title">
                            <i class="fa-solid fa-list nav__icon"></i>
                            <div class="content">All</div>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 co-sm-12 mt-2">
            <div class="column_bg_border">
                <div class="row mt-5 scroll_slider">
                    <div class="blog_desc col-12">
                        <div id="search" style="display: none" class="content-item">
                            <div class="blog_listing_main">
                                <div class="row mx-4 my-3 blog_details p-0" *ngFor="let obj of blogList"
                                    (click)="blogsData(obj.Id)">
                                    <div class="col-8 col-sm-6 col-lg-8 relat">
                                        <div class="left_blog_desc">
                                            <div class="d-flex authordetails_wrapper">
                                                <img onerror="this.src='./assets/images/user.png'"
                                                    src="{{ obj.AuthourImg }}" alt="" class="img-fluid idimg" />
                                                <span class="mx-3 name">{{ obj.AuthorName }}</span>
                                            </div>
                                            <div class="desc">
                                                <a (click)="blogsData(obj.Id)"> {{ obj.Title }}</a>
                                            </div>
                                            <div class="rel">
                                                <div class="absu">
                                                    <span class="time my-1">
                                                        <span>{{ obj.PostedAt | date : "MMMM d" }}</span>
                                                        <span class="mx-2">{{ calcDate(obj) }}</span>
                                                        <span class="">{{ hourTime(obj) }}</span>
                                                    </span>
                                                    <div class="media py-1">
                                                        <span><i class="fa fa-bookmark-o" aria-hidden="true"></i></span>
                                                        <span><i id="share" class="fa fa-share mx-4"
                                                                aria-hidden="true"></i></span>
                                                        <span><i id="thumb" class="fa fa-thumbs-o-up"
                                                                aria-hidden="true"></i> <small>
                                                                {{ obj.blogLike }}</small></span>
                                                        <span class="mx-4"><i class="fa fa-comment-o"
                                                                aria-hidden="true"></i><small>
                                                                {{ obj.totalComments }}</small></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-4 p-0">
                                        <div class="right_blog_img">
                                              <img onerror="this.src='../../../../../assets/images/img_new2.png'"
                                              [src]="base64textString" class="img-fluid img-center image-center" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu" class="content-item blog_from_wrapper">
                            <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
                                <div class="form-group my-2">
                                    <label> Blog Title:</label>
                                    <input type="text" class="form-control py-3" formControlName="Title" required
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.Title.errors }" />
                                    <div *ngIf="isSubmitted && f.Title.errors?.required" class="invalid-feedback">
                                        Title is required
                                    </div>
                                </div>
                                <div class="form-group my-2">
                                    <label> AuthorName:</label>
                                    <input type="text" class="form-control py-3" formControlName="AuthorName" />
                                    <!-- <div *ngIf="isSubmitted && f.AuthorName.errors?.required" class="invalid-feedback">
                                        Title is required
                                    </div> -->
                                </div>
                                <div class="form-group my-2">
                                    <label> Blogs Description:</label>
                                    <ckeditor class="ckeditor_wrapper" [config]="ckeConfig" formControlName="Body"
                                       > </ckeditor>
                                    <!-- <div *ngIf="isSubmitted && f.Body?.required" class="invalid-feedback">
                                        Description is required
                                    </div> -->
                                </div>
                                <div class="form-group my-2">
                                    <label> Tags:</label>
                                    <input type="text" class="form-control py-3" formControlName="Tags"  />
                                    <!-- <div *ngIf="isSubmitted && f.Title.errors?.required" class="invalid-feedback">
                                        Title is required
                                    </div> -->
                                </div>
                                <div class="form-group my-2">
                                    <label> Blog Source:</label>
                                    <input type="text" class="form-control py-3" formControlName="Source"  />
                                 
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="customFile">Blog Image:</label>
                                    <input type="file" (change)="handleUpload($event)" accept="image/*"
                                        class="form-control" style="height: 50px;"  size="60" id="customFile" />
                                    <!-- <div *ngIf="isSubmitted && f.Title.blogimage?.required" class="invalid-feedback">
                                        Image is required required [ngClass]="{ 'is-invalid': isSubmitted && f.blogimage.errors }"
                                    </div> -->
                                </div>
                                 <div class="form-check mt-3">
                                <input type="checkbox" class="form-check-input mt-2 mx-3"  style="background-color: rgb(59, 114, 149); color: rgb(244, 244, 244);" id="accepted1"
                                    formControlName="accepted1" required
                                    [ngClass]="{ 'is-invalid': isSubmitted && f.accepted1.errors }" />
                                <label class="form-check-label mx-3 " for="check1 ">I have read and<a
                                        routerLink="/blogagreement"
                                        class="text-decoration-none terms_text">&nbsp;Accept Bloggers Agreement</a>
                                </label>
                            </div>
                                <div class="text-center w-100" id="savedS">
                                    <button [disabled]="myForm.invalid" class="btn btn-primary mt-3"
                                        style="background-color: rgb(59, 114, 149); color: rgb(244, 244, 244); width: auto; height: auto; border-radius: 2px;">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="errorMsg" class="mx-3 mt-5">
                            <!-- <ul ></ul> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="btn-group btn-toggle blog_button_wrapper">
                      <button class="btn btn2 btn-lg active btn-default mobile-nav-tab" id="search-tab " (click)="toRedirectBlog()">
                          Read Blogs
                      </button>
                      <button class="btn btn1 btn-lg mobile-nav-tab" id="menu-tab " >
                          Write Blogs
                      </button>
                  </div> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-12 co-sm-12 mt-2 hidden-sm hidden-xs">
            <div class="right_side_listing column_bg_border mb-3">
                <div class="p-2 pt-0">
                    <div class="mt-0">
                        <h2 class="content_medium_heading mb-5">Advertiesment</h2>
                    </div>
                </div>
            </div>
            <div class="right_side_listing column_bg_border">
                <div class="p-2 pt-0">
                    <div class="mt-0">
                        <h2 class="content_medium_heading mb-5">Advertiesment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>