<app-header1></app-header1>

<div class="container privacy_content_wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="terms_sub_heading">Privacy Policy</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <h3 class="mainhead">1. INTRODUCTION</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-2">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Roar Infotech Ltd, the owner and operation of Pharmaclick and its website (www.pharmaclick.co.in) and a mobile application (the “app” or the “application”) under the name PharmaClick available on both Google PlayStore
                    and iOS AppStore, controls, operates and maintains the privacy and security of the customer’s information according to the laws present at that time according to this Privacy Policy (the “Policy”). The website and the
                    mobile application can be used to search B2B Pharma &amp; allied Suppliers, conduct job searches, access articles, news and other information, and lastly know about various events happening globally in the field of
                    Pharmaceutical sector provided to the customers (“User”, “you” or “your”).
                </p>
            </div>
            <div class="d-flex mt-2">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    By accessing and use of this website and mobile applications, the User accepts and agrees to be bound by and to comply with (i) this Privacy Policy (ii) the Disclaimer, which the User has agreed to and accepted before
                    accessing the Website and using the application, and (iii) Terms of Use available on this Website. The Policy refers to the security system of information collected by the website and mobile applications and the usage of
                    the collected information. 
                </p>
            </div>
            <div class="d-flex mt-2">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The information so collected through this Policy is stored in a digital format. The Policy followed the Information Technology Act, 2000 and the corresponding rules.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">1. APPLICABILITY</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The Policy is applicable to those people who are eligible to be bound by an agreement under the Law of Contracts, 1872, that is, people above 18 years old are eligible under the Policy. However, if a minor uses the
                    website or the mobile application, the information of such minors is stored automatically. However, if it is brought to our attention that the personal information of minors may have been collected, we will take all
                    efforts to delete the information. However, minors may use the Blog and News Section of PharmaClick, under the supervision of others above the age of 18.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">2. INFORMATION COLLECTED</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The personally identifiable information or sensitive personal data or information (SPDI) collected about you is not automatically collected by PharmaClick but provided by you with your consent. This information may
                    include name, contact data, address, email id, phone number, password, date of birth, gender, travel history, nationality, resume and CV, etc. These data can be collected in the following ways, including but not limited
                    to:
                    <br />
                    (a) Creating an account with PharmaClick to procure the services so provided; <br />
                    (b) Submitting your blogs to ParmaClick for publishing;
                    <br />
                    (c) Subscribing to the newsletter; <br />
                    (d) Applying for jobs and other recruitment drives;
                    <br />
                    (e) Updating your account information; <br />
                    (f) Uploading prescription.
                </p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    PharmaClick may automatically collect your technical information like IP address, your computer or mobile operating system, time zone, browser type and browser plug-in details, mobile device, etc when you visit the
                    website or application. Other information like the pages your visit, preferences among the different columns, number of visits, time spent on each page etc are also collected based on your usage of the website and
                    application.
                </p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    PharmaClick may collect information from third-party websites or mobile applications. If you log into the Platform through a third-party service, both we and that third party may receive some information about you and
                    your use of the Platform. For example, if you choose to log into the Platform with your Facebook account, we may receive information from Facebook, such as your name, e-mail address, public profile information, and
                    information about your contacts. In those cases, the providers of those tools may receive information about you when you use those tools. You should check the privacy policies of these third-party services and your
                    settings there for more information.
                </p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    PharmaClick may also store your financial information like credit and debit card details, UPI id, associated bank details, etc.
                </p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Other personal data may be collected through different platforms, including but limited to the above-mentioned gateways.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">3. USE OF THE INFORMATION COLLECTED</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The information so collected as mentioned in the previous point, may be used for the following:
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To carry out obligations arising out of the requests made by you;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To curate a better online marketplace keeping up with the needs of the customers;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To contact, communicate or connect with you through our customer support system;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To provide your details to the recruiters and also understand the kind of jobs you need;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To customize your profile with helpful suggestions for faster browsing;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To verify your identity and perform checks to prevent fraud;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To provide you newsletters, curated news and blogs, suggestions of jobs, and feedback;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To preserve social history as governed by existing law or policy;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To send you timely reminders of renewing your subscription or time period to apply for jobs or events being organized, etc.;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To set up a better internal system and provide necessary training to the employees;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    To track your session to understand how customers use the website and the app;
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    For any purpose related and/or ancillary to any of the above or any other purpose for which your information was collected by us.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">4. SHARING / DISCLOSURE OF INFORMATION</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The information or SPDI of the user(s) so collected by us will be shared with anybody who is an integral part of us. They should either follow this Policy or their privacy policy should be minimum at par with the Policy.
                    By using the website or the app, You accept the terms hereof and hereby consent to the storage and processing of the personal information and SPDI by third parties. PharmaClick has agreements with third parties
                    (including those listed below), like affiliates or group companies, service providers, retailers, retail pharmacies, payment gateways, and logistics partners, who are the intended recipients and may have access to the
                    personal information and SPDI. However, we shall not further disclose such information, including SPDI, to any other person or entity. Some of the third parties include:
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    <b>Retail partners:</b>PharmaClick is an intermediate platform acting as a channel between retailers and customers. Thus, the information will be shared with retail partners like pharmacies or medical practitioners to
                    process the orders placed by you. We may also share with retail partner’s current and future parents, affiliates, subsidiaries, and other associated companies
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content"><b>Recruiters:</b> PharmaClick is also an intermediate platform to see jobs by you. Your information will be shared with them to provide better job-seeking opportunities and a faster experience.</p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content"><b>Legal Obligations:</b> PharmaClick may disclose your information according to the law under various circumstances.</p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    <b>Merger or Acquisition of PharmaClick:</b> In a circumstance where in PharmaClick is partnering with another company, your information may be shared with the venturing company to provide and fulfil your expectations of
                    services.
                </p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content"><b>Improving our business:</b> Your information will help us to analyze and scrutinize the service so provided by us and improve on the areas which we lack at.</p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content"><b>Payment Affiliations:</b> Your information may be shared with third-party payment gateways for processing the request for payments, refunds and other financial-related issues.</p>
            </div>
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Your information may be shared with other third parties for the purposes for which your information was so collected, however, PharmaClick makes sure that the information so shared shall be secured and not misused.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">5. SECURITY OF THE INFORMATION COLLECTED</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Security of the Users’ personal data so collected through the website and the app is of utmost importance to PharmaClick. We employ administrative, physical, and technical measures designed to safeguard and protect
                    information under our control from unauthorized access, use, and disclosure. Your personal information is only accessible to a limited number of people who are also bound by confidentiality and non-disclosure.
                </p>
                </div>
                <div class="d-flex mt-1">
                    <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    We will make any legally required notifications of any breach of the security, confidentiality, or integrity of your personal information, including, without limitation, breaches of any kind of information stored. To the
                    extent permitted by applicable laws, we will make such notifications to you in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or
                    (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system.
                </p>
                </div>
                <div class="d-flex mt-1">
                    <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    However, no company can guarantee full security at all times as there are risks associated with personal information.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">6. COOKIES</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Cookies are small files collected by PharmaClick when the User(s) visits the website or uses the application without logging in. These files so collected will provide data about the user(s) device and browser details.
                    Cookies will not contain any kind of personal information of the user(s).
                </p>
                </div>
                <div class="d-flex mt-1">
                    <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Accepting these cookies will allow PharmaClick to collect information like device identifiers, IP address, pages visited, keystroke data, HTML data on a page visited by a visitor, and Header Information such as browser
                    type, and other information. This allows us to customize our website and application according to your interests, which will enable us to deliver a more personalized service to our customers. You may choose to accept or
                    decline cookies. Please be aware that by declining cookies you may be unable to use our website to application to its fullest capability.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">7. DATA RETENTION</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    We keep your personal information as long as is necessary to fulfil the purposes for which it was obtained or to comply with any other legal requirements. Data submitted to us by you or other parties, as well as data
                    created or deduced as a result of your use of our Services, are all included in this. If the User(s) would like their information to be deleted from the database, they can send an email to info@pharmaclick.co.in.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">8. CHANGES TO THE POLICY</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    When necessary or in accordance with the laws in effect, PharmaClick retains the right to make any modifications to the Policy. The Users will not be exclusively informed of any modifications made to the Policy. The
                    User(s) are urged to frequently refer to this policy to check if any changes are made to the Policy. All updates or modifications made to this policy are consented by the user(s).
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">9. OPT-OUT</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    If the user(s) of the website or the application choose to opt-out of the Policy and delete or modify the information so provided to PharmaClick may do us by writing to us at info@pharmaclick.co.in or call customer
                    support at +91 9833109522. The user(s) will be notified prior to and after the action has been taken.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">10. INDEMNITY</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    Any disclosure or unauthorized use of your personal information caused from your end, PharmaClick will not be responsible for such actions of yours. You will indemnify us from such actions and unauthorized usage of your
                    SPDI.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">10. JURISDICTION</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    The Policy is governed by the laws of India without giving effect to any principles of conflict of laws. The competent courts of Mumbai, India shall have the exclusive jurisdiction to try and settle any dispute arising
                    from this Privacy Policy.
                </p>
            </div>
        </div>
        <div class="col-12 text-left mt-3">
            <h3 class="mainhead">10. CONTACT US</h3>
        </div>
        <div class="col-12 text-left">
            <div class="d-flex mt-1">
                <h3 class="mainsub_heading"><i class="fa fa-circle" aria-hidden="true"> </i></h3>
                <p class="terms_content">
                    In case the User(s) requires more information on the Policy or has any query regarding this Policy may contact PharmaClick at the below-mentioned address:
                    <br />
                    <b>Mail id:&nbsp;&nbsp;</b> <a href="mailto:info@pharmaclick.co.in">info@pharmaclick.co.in</a>
                    <br />
                    <b>Address: &nbsp;&nbsp;</b>Corporate Office: 210, 2nd Floor, The Crescent Business Park, Saki Naka Tele Exchange Ln, Saki Naka, Andheri East, Mumbai – 400072, Maharashtra, India
                    <br />
                    <b>Website:</b>&nbsp;&nbsp; <a href="www.pharmaclick.co.in">www.pharmaclick.co.in</a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
