<!-- <div class="container  w-100">
    <div class="d-block w-20">
        <app-subcategory-sidebar></app-subcategory-sidebar>
    </div>
    <div class="d-flex flex-direction-row w-80">
        <app-subcategory-container></app-subcategory-container>
    </div>
</div> -->
<!-- ----------subcategory----------------------------- -->

<!-- <div class="container d-flex justify-content-center">
    <div class="d-flex justify-content-between w-100 row flex-wrap">
        <div
            class="cards d-flex"
            *ngFor="let product of category"
        >
            <div class="card-body col-xs-12 col-xs-6 col-md-4">
                <a
                    routerLink="/home/product/sub-category"
                    routerLinkActive="active"
                >
                    <img
                        class="d-flex justify-content-center align-items-center py-2"
                        src="{{product.url}}"
                        alt="..."
                    >
                </a>
                <a routerLink="/home/product/sub-category">
                    <h3 class="d-flex justify-content-center text-align-center">{{product.title}}</h3>
                </a>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="card-deck row">

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div
            class="card"
            *ngFor="let product of category"
        >

            <div class="view overlay">
                <a
                    routerLink="/home/product/sub-category"
                    routerLinkActive="active"
                >
                    <img
                        class="d-flex justify-content-center align-items-center py-2"
                        src="{{product.url}}"
                        alt="..."
                    >
                </a>
            </div>

            <div class="card-body">

                <h4 class="card-title">1 Card title</h4>
            </div>

        </div>
    </div>
</div> -->
