<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle" style="font-size: 25px; margin-left:-178px; font-weight: 500;">Share</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="margin-right: -350px;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="social-icons">
          <!-- <a href="mailto:?subject=Check%20out%20this%20awesome%20website!&amp;body=I%20found%20this%20awesome%20website%20and%20thought%20you%20might%20like%20it:%20https%3A%2F%2Fwww.example.com%2F">
            <i class="fa fa-envelope"></i></a> -->
          <!-- <a href="mailto:?subject=Check%20out%20this%20awesome%20website!&amp;body=I%20found%20this%20awesome%20website%20and%20thought%20you%20might%20like%20it:%20http://localhost:4200/company-data?id=13180" class="btn btn-primary" style="background-color: #333333; margin-right: 10px;" role="button"> <i class="fa fa-envelope text-white"></i></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://localhost:4200/company-data?id=13180&amp;title=Check%20out%20this%20awesome%20website!" target="_blank" rel="noopener noreferrer" class="btn btn-primary" style="background-color: #0082ca; margin-right: 10px;"role="button"><i class="fab fa-linkedin-in text-white"></i></a>
          <a href="https://twitter.com/intent/tweet?url=http://localhost:4200/company-data?id=13180&amp;text=Check%20out%20this%20awesome%20website!" target="_blank" rel="noopener noreferrer" class="btn btn-primary" style="background-color: #55acee; margin-right: 10px;"  role="button"><i class="fab fa-twitter text-white"></i></a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/company-data?id=13180" target="_blank" rel="noopener noreferrer" class="btn btn-primary" style="background-color: #3b5998; margin-right: 10px;" role="button"><i class="fab fa-facebook-f text-white"></i></a> -->
          <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/company-data?id=13180" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/intent/tweet?url=http://localhost:4200/company-data?id=13180&amp;text=Check%20out%20this%20awesome%20website!" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://localhost:4200/company-data?id=13180&amp;title=Check%20out%20this%20awesome%20website!" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
          <a href="mailto:?subject=Check%20out%20this%20awesome%20website!&amp;body=I%20found%20this%20awesome%20website%20and%20thought%20you%20might%20like%20it:%20http://localhost:4200/company-data?id=13180"><i class="fa fa-envelope"></i></a> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>