* {
    /* font-family: 'Pensum Sans'; */
    font-family: 'Poppins';
}

.market {
    font-family: 'Pensum Sans';
    text-shadow: 1px 0 black;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}
/* ----- */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.mainScroller{

    overflow-y: auto;
    height: 77vh;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.slider {
    height: 28vh;
    vertical-align: middle;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}

.first_slider {
    padding: 0px;
    margin: 0%;
    width: auto;
    overflow-x: scroll;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.menuListCol{
    background-color:#215578;
    display: inline-block;
    height: 24vh;
    /* padding: 5px; */
    margin: 0px 5px;
    border-radius: 18px;
    width: 120px;
    color: white;
    /* padding: 5px; */
}
.menuList{
    display: inline-block;
    /* padding: 5px; */
    /* margin: 8px 5px 5px 5px; */
   vertical-align: center;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
}
.title{
    position: absolute;
    top: 60px;
    left: 54px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: white;
    word-break:normal; 
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-user-modify: read-write-plaintext-only;
    word-spacing: normal;
    /* word-break: break-word; */
    overflow-wrap:break-word;
    white-space:initial;

    vertical-align: middle;
    vertical-align: text-bottom;
}
 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.active-link {
    color: black !important;
    font-weight: bold !important;
}
.active-link {
    color: #34495e;
    font-weight: bold !important;
}
.active-link1{
    color: #34495e;
    font-weight: bold !important;
    background-color: rgb(180, 183, 184);
}
/* ------------- */
.slider1{
    height: 27vh;
    vertical-align: middle;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
.first_slider1 {
    padding: 0px;
    margin: 0%;
    width: auto;
    overflow-x: scroll;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.menuListNews{
    /* height: 25vh; */
    display: inline-block;
    height: 124px;
    /* padding: 5px; */
    margin: 0px 5px;
    border-radius: 18px;
    width: 300px;
}
.Parent_Div {
    background-color: rgb(244, 244, 244);
    height: 22vh;
    width: 300px;
    border-radius: 12px;
    white-space:initial;
    overflow-x: scroll;
}
.View{
    color: #3576a1;  
    font-weight: bold; 
    margin-left: -15px;
}

.today {
    font-size: 15px;
    font-weight: bolder !important;
    color: rgb(59, 114, 149);
    border-radius: 5px;
    /* position: relative; */
    position: relative;
    padding-bottom: 15px;
}

.links1 {
    text-decoration: none;
    color: rgb(59, 114, 149) !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.links {
    text-decoration: none;
    color: rgb(59, 114, 149) !important;
    overflow: hidden;
    width: 100vw;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.innerDiv {
    font-size: 14px;
    text-decoration: none;
    color: #8397A5;
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.innerDiv .float-start {
    font-family: 'Times New Roman';
}

.innerDiv .hr {
    font-family: 'Poppins';
    font-size: 12px;
}

.img-center {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    border-radius: 13px;
}
.view_all{
    color: #3576a1;
    font-weight: bold;
    margin-left:-15px;
}


.text {
    font-size: 14px;
    color: rgb(59, 114, 149);
}
/* ----------event--------- */
.sliderEvnt{
    height: 26vh;
    vertical-align: middle;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
.sliderEvent{
    padding: 0px;
    margin: 0%;
    width: auto;
    overflow-x: scroll;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.menuListEvent{
    display: inline-block;
    height: 168px;
    /* padding: 5px; */
    margin: 0px 5px;
    /* border-radius: 18px; */
    /* width: 300px; */
}
.eventData {
    /* display: flex;
    background-color: #f8f4f4;
    height: 13vh;
    width: auto;
    border-radius: 10px;
    margin: 5px 8px 5px 8px;
    margin-bottom: 20px; */
    display: inline-flex;
    background-color: rgb(244, 244, 244);
    height: 26vh;
    width: 150px;
    border-radius: 12px;
    white-space:initial;
    /* overflow-x: scroll; */
    margin: 1px 8px 2px 11px;
    text-overflow: ellipsis;
}

.eventDates {
    height: 8vh;
    border-radius: 8px;
    color: white;
    /* width: 140px; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* padding: 22px 10px 10px 5px; */
    font-size: 16px;
}

.fa-arrow-left {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.eventTitle{
    font-size: 14px; 
    font-weight:bold; 
    text-overflow: ellipsis; 
    height: 7vh; 
    overflow: hidden;
    /* width: 100vw; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.eventVenue{
    margin-left: 1px; 
    height: 5vh; 
    text-overflow: ellipsis; 
    text-transform:capitalize;
    color: gray;
    font-size: 13px;
}
.eventVenue::first-letter{
    text-transform: uppercase;
    color: #215578;
}
/* ----------blogs css------ */
.sliderBlog{
    height: 33vh;
    vertical-align: middle;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
.rowBack {
    background-color: rgb(248, 245, 245);
    /* border-radius: 5px; */
    /* height: 100%; */
    /* width: auto; */
    margin: 5px 5px 5px 10px;

    /* background-color: rgb(244, 244, 244); */
    height: 28vh;
    width: 300px;
    border-radius: 12px;
    white-space:initial;
    overflow-x: scroll;
}
.menuListBlogs{
    display: inline-block;
    height: 34vh;
    /* padding: 5px; */
    margin: 0px 10px;
    border-radius: 18px;
    width: 300px;
}

.blogtitle {
    font-family: 'Pensum Sans';
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    letter-spacing: 1px;
}

.idimg {
    width: 14%;
    border-radius: 50%;
    /* background: url('../../../../../assets/images/img_new.png'); */
}

.imgdiv {
    /* background: url('../../../../../assets/images/img_new.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%
    /* background-size: 100% 100%; */
    /* background-size: 100% 100%; */
}

.img-center {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
}

.blogImg {
    /* src: url("/assets/images/img_new.png"); */
    /* background: url('../../../../../assets/images/img_new.png'); */
    background-repeat: no-repeat;
    background-position: center;
    height: 114px;
    /* padding: 5px 5px; */
    background-size: cover;
    width: 96px;
    margin: 3px 3px 3px 2px;
    border-radius: 4px;
}

.name {
    font-size: 13px;
    color: #9C9C9C;
    margin-top: 5px;
}

.desc {
    font-size: 14px;
    color: rgb(45, 107, 146);
    text-overflow: ellipsis;
    font-weight: 600;
    word-break: break-all;
    height: 13vh;
    overflow: hidden;
}

.desc:hover {
    color: #9C9C9C;
    text-overflow: ellipsis;
    font-weight: 600;
    word-break: break-all;
    height: 60px;
}

.time {
    font-size: 12px;
    color: #9C9C9C;
    /* margin-top: 5px; */
}

.media {
    font-size: 15px;
    color:#215578;
    margin-top: -21px;
    margin-left: 120px;
}

     /* CSS */
     @media (min-width: 992px) {
        .classadd{
            border: 1px solid gray;
            width: 350px;
            height: 120px;
            /* margin-top: 2px; */
            margin-left: 46px;
            color: orangered    }
        .classadd1{
            border: 1px solid gray;
            width: 350px;
            height: 150px;
            margin-top: 40px;
            margin-left: 46px;
            color: orangered;
        }
        .scroll {
            overflow-y: auto;
            height: 70vh;
            overflow-x: hidden;
        }
        .classadd2{
            /* border: 1px solid gray;
            width: 350px;
            height: 105px;
            margin-top: 40px;
            margin-left: 46px; */
            color: orangered;
            width: 350px;
            height: 300px;
            border: 1px solid rgb(104, 106, 111);
            margin-left: 48px;
            margin-top: 40px;
        }
        .pharmaclick{
            display: none;
        }
    }
    /*right*/
    


   /* -------------------------------------- */
   .container2{
    margin-top: 100px;
    /* // margin-bottom: 220px; */
    display: flex;
    /* // justify-content: center; */
    
    font-family: 'poppins';

}
.gallery{
    /* margin: 100px 100px; */
    --s: 100px;
    --g: 3px;
    display: grid;
    /* margin: calc(var(--s)+ var(--g)); */
}
/* .gallery:hover{
    background: rgb(255, 255, 255);
    visibility: visible !important;
} */
.gallery .img{
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%,0% 50%);
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
    cursor:progress;
    /* filter: grayscale(70%); */
    transition: 1s ease;


background: rgb(106,187,241);
background: linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);
background: -webkit-linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);
background: -moz-linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);


}
/* .gallery .img:hover{

    z-index: 1;
    --_t:1.2;
    transform: translate(45deg);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    
    background: white;

box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;
-webkit-box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;
-moz-box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;

} */
/* // .gallery .img:nth-child(1){--_y: calc(-100% - var(--g))}
// .gallery .img:nth-child(7){--_y: calc(100% + var(--g))}
// .gallery .img:nth-child(7){--_x: calc(90% + var(--g))}
// .gallery .img:nth-child(3){--_x: calc(1% - .87*var(--g))}
// .gallery .img:nth-child(5){--_x: calc(-1% - .87*var(--g))}
// .gallery .img:nth-child(4){--_x: calc(-1% - .87*var(--g))}
// .gallery .img:nth-child(6){--_x: calc(-5% + .87*var(--g))}
// .gallery .img:nth-child(3){--_y:calc(105% - .5*var(--g))}
// .gallery .img:nth-child(4){--_y:calc(211% - .5*var(--g))}
// .gallery .img:nth-child(5){--_y:calc(421% - .5*var(--g))}
// .gallery .img:nth-child(6){--_y: calc(314% + .5*var(--g))}
 */
.gallery .img:nth-child(1){--_x: calc(25% - var(--g))}
.gallery .img:nth-child(7){--_y: calc(407% + var(--g))}
.gallery .img:nth-child(7){--_x: calc(19% + var(--g))}
.gallery .img:nth-child(3){--_x: calc(23% - .87*var(--g))}
.gallery .img:nth-child(5){--_x: calc(23% - .87*var(--g))}
.gallery .img:nth-child(4){--_x: calc(17% + .87*var(--g))}
.gallery .img:nth-child(6){--_x: calc(22% + .87*var(--g))}
.gallery .img:nth-child(3){--_y:calc(60% - .5*var(--g))}
.gallery .img:nth-child(4){--_y:calc(177% - .5*var(--g))}
.gallery .img:nth-child(5){--_y: calc(290% + .5*var(--g))}
.gallery .img:nth-child(6){--_y: calc(526% + .5*var(--g))}
.gallery .img:nth-child(1){--_y: calc(-60% + .5*var(--g))}



.title1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    color: white;
    word-break: break-all;
    font-family: 'Poppins';
    margin-top: 0px;
}

/* .title1:hover {
    color: rgb(32,72,99) !important;
    font-weight: bold;
} */

.content{
    position: absolute;
    margin-top: 32px;
    opacity: 1;
    /* visibility: hidden; */

}
/* .content:hover{
    opacity: 1;
    color: rgb(32,72,99);
    display: block;
    font-size: 13px;
} */
.nav__icon{
    font-size: 37px;
    margin-top: -20px;
    /* // visibility: visible; */
}
 /* .nav__icon:hover:focus{
    font-weight: bold;
    margin-top: -30px;
    display: none;
    
}  */