<!-- <div class="sidebar-container py-2">
    <ul class="side-menu d-flex justify-content-start align-items-center">
        <li>
            <a [routerLink]="['/Vitamine Tablate']" routerLinkActive="active" class="list-group-item list-group-item-action">Vitamine</a>
        </li>
        <li>
            <a [routerLink]="['/AntiBiotics']" class="list-group-item list-group-item-action">AntiBiotics</a>
        </li>
        <li>
            <a [routerLink]="['/fish oil tablates']" class="list-group-item list-group-item-action">Fish Oil</a>
        </li>
        <li>
            <a [routerLink]="['/tablates']" class="list-group-item list-group-item-action">Tablates</a>
        </li>
    </ul>
</div> -->

