
<div class="container2">
    <div class="gallery">
        <div class="img">
            
                    <a routerLink="/home/product/category">
                        <h1 class="title" [routerLinkActive]="'active-link1'" [class.active-link]="path=='/home/product/category'">
                    <i class="fa fa-comments nav__icon" aria-hidden="true"></i>
                    <div class="content">Marketplace</div>
                </h1>
            </a>
        </div>
         <div class="img pharmaclick">
            <h1 class="title" style="background: white; color: rgb(32,72,99);">
                <img src="/assets/images/uuu.png" alt="" style="height: 55px;" class="nav__icon">
                <div class="content" style="font-weight: 600;">PharmaClick</div>
            </h1>
        </div>
        <div class="img">
            <a routerLink="/allnews">
                <h1 class="title">
                    <i class="fa fa-newspaper-o nav__icon" aria-hidden="true"></i>
                    <div class="content">News</div>
                </h1>
            </a>
        </div>
        <div class="img">
            <a routerLink="/events">
                <h1 class="title">
                    <i class="fa fa-globe nav__icon" aria-hidden="true"></i>
                    <div class="content">Events</div>
                </h1>
            </a>
        </div>
        <div class="img">
            <a routerLink="/blogs">
                <h1 class="title">
                    <i class="fa-solid fa-message nav__icon"></i>
                    <div class="content">Blogs</div>
                </h1>
            </a>
        </div>
        <div class="img">
            <a routerLink="/all-section">
                <h1 class="title">
                    <i class="fa-solid fa-list nav__icon"></i>
                    <div class="content">All</div>
                </h1>
            </a>
        </div>
        <div class="img">
            <a routerLink="/job">
                <h1 class="title">
                    <i class="fas fa-user-tie nav__icon"></i>
                    <div class="content">Jobs</div>
                </h1>
            </a>
        </div> 

    </div>

</div>
