.forgot_main_wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot_main_wrapper .main_logo {
    width: 160px;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}

.forgot_main_wrapper .forgot_form_wrapper .main_heading_text {
    font-size: 2.6rem;
    font-family: "Pensum Sans";
}

.forgot_main_wrapper .forgot_form_wrapper .input-group {
    display: flex;
}

.forgot_main_wrapper .forgot_form_wrapper .input-group .input-group-text {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px 0px 0px 5px !important;
}

.forgot_main_wrapper .forgot_form_wrapper .input-group input {
    width: calc(100% - 50px);
    background-color: #E9ECEF;
    border: 0px solid #E9ECEF !important;
    font-size: 16.5px;
    height: 50px;
    border-radius: 0px 5px 5px 0px !important;
    border-left: 1.5px solid #adadad !important;
    padding-left: 10px;
}

.forgot_main_wrapper .login_inner_wrapper {
    background-color: var(--thm-white);
    padding: 30px 20px;
    box-shadow: 1px 1px 15px 1.5px rgb(114 98 98 / 0.15);
    border-radius: 15px;
}

.forgot_main_wrapper .forgot_password_button {
    margin-top: 40px;
}

.forgot_main_wrapper .forgot_button {
    background-color: var(--thm-color);
    border-radius: 10px;
    box-shadow: none;
    border: none;
    outline: none !important;
    height: 50px;
    font-size: 16px;
    color: var(--thm-white);
    margin: 0 auto;
    width: calc(100% - 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot_main_wrapper .back-to-text a {
    font-size: 18px;
    text-decoration: none;
    color: var(--thm-black);
    margin: 0 auto;
    text-align: center;
}

.forgot_main_wrapper .back-to-text a span {
    font-weight: 700;
    color: var(--thm-color);
}

.forgot_main_wrapper .back-to-text a span:hover {
    text-decoration: underline;
}

@media screen and (min-width: 290px) and (max-width: 767px) {
    .forgot_main_wrapper .login_inner_wrapper {
        width: 90%;
    }
}