<div class="main forgot_main_wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 login_inner_wrapper">
                <div class="imgDiv main_logo mb-5">
                    <img class="main_logo img-fluid" src="./assets/images/Brand_logo01.png" alt="Pharma Logos" />
                </div>
                <div class="forgot_form_wrapper">
                    <h3 class="main_heading_text text-center mb-5">Password Recovery</h3>
                    <div class="mb-3 mt-5">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user" style="font-size: 15px;"></i></span>
                            </div>
                            <input type="text" class="emailText" id="myText" (change)="userNames($event)" placeholder="   Enter your user name" />
                        </div>
                    </div>
                    <div class="mb-3 mt-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope" style="font-size: 15px;"></i></span>
                            </div>
                            <input type="email" class="emailText" (change)="FPass($event)" placeholder="   Enter your email" />
                            <!-- <input type="email" class="form-control emailText" ngModel="Email" ngModel>                  -->
                        </div>
                    </div>
                    <div class="forgot_password_button">
                        <div class="form-group mt-5">
                            <input type="submit" (click)="onClickForgotPassword()" value="Submit" [disabled]="Email.invalid" class="btn float-right btn-info forgot_button" />
                        </div>
                    </div>
                    <div class="back-to-text text-center">
                        <a href="/auth/login" >Back to <span>Sign in</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
