.navs1 {
    height: 10vh;
}

.fa-arrow-left11 {
    font-size: 18px;
    color: black;
}

.logimg {
    height: 6.6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headimg {
    height: 7vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shareimg {
    height: 18px;
}

.fa-bookmark-o {
    font-size: 18px;
}

.scroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: 77.1vh;
}

.notif_List {
    background-color: rgb(244, 244, 244);
    border-radius: 11px;
}

.noti_title {
    font-size: 16px;
    text-shadow: 1px 0 black;
    letter-spacing: 1px;
    font-weight: bold;
}

.time {
    font-size: 10px;
    font-weight: bold;
    font-family: 'poppins';
    color: #9C9C9C;
}

.notific_title {
    font-size: 14px;
    font-weight: bolder;
    font-family: 'poppins';
    color: rgb(35, 104, 147);
    text-transform: uppercase;
}

.notific_desc {
    font-size: 11px;
    font-weight: bold;
    font-family: 'poppins';
    color: #9C9C9C;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.icon {
    font-size: 28px;
    color: white;
}

.bgcolor {
    background-color: rgb(18, 64, 92);
    padding: 22%;
    border-radius: 50%;
}

     /* CSS */
     @media (min-width: 992px) {
        .classadd{
            border: 1px solid gray;
            width: 350px;
            height: 120px;
            /* margin-top: 2px; */
            margin-left: 46px;
            color: orangered    }
        .classadd1{
            border: 1px solid gray;
            width: 350px;
            height: 150px;
            margin-top: 40px;
            margin-left: 46px;
            color: orangered;
        }
        .scroll {
            overflow-y: auto;
            height: 70vh;
            overflow-x: hidden;
        }
        .classadd2{
            /* border: 1px solid gray;
            width: 350px;
            height: 105px;
            margin-top: 40px;
            margin-left: 46px; */
            color: orangered;
            width: 350px;
            height: 300px;
            border: 1px solid rgb(104, 106, 111);
            margin-left: 48px;
            margin-top: 40px;
        }
        .pharmaclick{
            display: none;
        }
        .logimg {
            height: 8.6vh;
            display: block;
            margin-left: 110px;
            margin-right: auto;
        }
        #mobile_header{
            display: none;
        }
    }
    /*left*/
    


   /* -------------------------------------- */
   .container2{
    margin-top: 100px;
    /* // margin-bottom: 220px; */
    display: flex;
    /* // justify-content: center; */
    
    font-family: 'poppins';

}
.gallery{
    /* margin: 100px 100px; */
    --s: 100px;
    --g: 3px;
    display: grid;
    /* margin: calc(var(--s)+ var(--g)); */
}
/* .gallery:hover{
    background: rgb(255, 255, 255);
    visibility: visible !important;
} */
.gallery .img{
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%,0% 50%);
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
    cursor:progress;
    /* filter: grayscale(70%); */
    transition: 1s ease;


background: rgb(106,187,241);
background: linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);
background: -webkit-linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);
background: -moz-linear-gradient(322deg,rgb(106,187,241) 6%, rgb(50,126,172) 20%, rgb(8,29,42) 96%);


}
/* .gallery .img:hover{
    z-index: 1;
    --_t:1.2;
    transform: translate(45deg);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    
    background: white;

box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;
-webkit-box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;
-moz-box-shadow: 1px 0px 10px -1px rgba(32,72,99,0.88) inset;
} */
/* // .gallery .img:nth-child(1){--_y: calc(-100% - var(--g))}
// .gallery .img:nth-child(7){--_y: calc(100% + var(--g))}
// .gallery .img:nth-child(7){--_x: calc(90% + var(--g))}
// .gallery .img:nth-child(3){--_x: calc(1% - .87*var(--g))}
// .gallery .img:nth-child(5){--_x: calc(-1% - .87*var(--g))}
// .gallery .img:nth-child(4){--_x: calc(-1% - .87*var(--g))}
// .gallery .img:nth-child(6){--_x: calc(-5% + .87*var(--g))}
// .gallery .img:nth-child(3){--_y:calc(105% - .5*var(--g))}
// .gallery .img:nth-child(4){--_y:calc(211% - .5*var(--g))}
// .gallery .img:nth-child(5){--_y:calc(421% - .5*var(--g))}
// .gallery .img:nth-child(6){--_y: calc(314% + .5*var(--g))}
 */
.gallery .img:nth-child(1){--_x: calc(25% - var(--g))}
.gallery .img:nth-child(7){--_y: calc(407% + var(--g))}
.gallery .img:nth-child(7){--_x: calc(19% + var(--g))}
.gallery .img:nth-child(3){--_x: calc(23% - .87*var(--g))}
.gallery .img:nth-child(5){--_x: calc(23% - .87*var(--g))}
.gallery .img:nth-child(4){--_x: calc(17% + .87*var(--g))}
.gallery .img:nth-child(6){--_x: calc(22% + .87*var(--g))}
.gallery .img:nth-child(3){--_y:calc(60% - .5*var(--g))}
.gallery .img:nth-child(4){--_y:calc(177% - .5*var(--g))}
.gallery .img:nth-child(5){--_y: calc(290% + .5*var(--g))}
.gallery .img:nth-child(6){--_y: calc(526% + .5*var(--g))}
.gallery .img:nth-child(1){--_y: calc(-60% + .5*var(--g))}



.title1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 26px;
    color: white;
    word-break: break-all;
    font-family: 'Poppins';
    margin-top: -15px;
}
/* 
.title1:hover {
    color: rgb(32,72,99) !important;
    font-weight: bold;
    
} */

.content{
    position: absolute;
    margin-top: 45px;
    opacity: 1;
    font-size: 14px;
    /* visibility: hidden; */

}
/* .content:hover{
    opacity: 1;
    color: rgb(32,72,99);
    display: block;
    font-size: 13px;
} */
.nav__icon1{
    font-size: 37px;
    margin-top: -20px;
    /* // visibility: visible; */
}
 /* .nav__icon1:hover:focus{
    font-weight: bold;
    margin-top: -30px;
    display: none;
    
}  */
@media only screen and (max-width: 768px) {
    #web_header{
       display: none;
    }
   }
   @media only screen and (max-width: 1024px) {
    .logimg {
        height: 8.6vh;
        display: block;
        margin-left: 26px;
        margin-right: auto;
    }
   }
   