.container{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    .title{
        font-size:2rem;
        color:blue;
        text-align: center;
    }
    // .btn{
    //     font-size: 1.5rem;
    //     width:10%;
    //     height:3rem;
    // }
    .info{
        padding:1rem;
        margin-right: 1.5rem;
    }
}