@charset "utf-8";
@font-face {
    font-family: "primary-reg";
    src: url("../fonts/futur.ttf");
}

@font-face {
    font-family: "primary-li";
    src: url("../fonts/Futura Light font.ttf");
}

@font-face {
    font-family: "primary-hvy";
    src: url("../fonts/Futura Heavy font.ttf");
}