<div class="marquee">
    <h5 class="mt-2 mx-4" style="font-weight: 700; color: rgb(23, 23, 66); font-size: 13px;">FEATURED COMPANY</h5>
    <div class="marquee-content">
        <div class="marquee-item">
            <img class="img-fluid adv_img " src="../../../../assets/images/adv_img5.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img1.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img2.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img3.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img4.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img5.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img6.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img1.png" alt="" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img2.png" alt="Adv_Image" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img3.png" alt="Adv_Image" style="height: 10vh;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img4.png" alt="Adv_Image" style="height: 10%;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img5.png" alt="Adv_Image" style="height: 10%;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img5.png" alt="Adv_Image" style="height: 10%;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img6.png" alt="Adv_Image" style="height: 10%;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img1.png" alt="Adv_Image" style="height: 10%;">
        </div>

        <div class="marquee-item">
            <img class="img-fluid adv_img" src="../../../../assets/images/adv_img2.png" alt="Adv_Image" style="height: 10%;">
        </div>
    </div>
</div>