<div>

    <div class=" mainheder1 pb-2">
        <div class="row navs1 ">
            <div class="col-4 ">
                <i class="fa fa-arrow-left fa-arrow-left11 mx-4 mt-5 pt-2" (click)="goesBack()" aria-hidden="true"></i>
            </div>

            <div class="col-4">
                <img src="../../../../assets/images/Brand_logo01.png" class="img-fluid logimg mt-3" alt="OrgLogo">
            </div>
            <div class="col-2">
                <!-- <img src="/assets/images/share_PNG27.png" alt="Share" style=" display: block; margin-left: 40px; margin-right: auto; width: 18px; height:18px;margin-top: 21px;"> -->
            </div>
            <div class="col-2">
                <!-- <i *ngIf="!allSavedNews.includes(objData.Id)" class="fa fa-bookmark-o mt-5 pt-2 mx-4" aria-hidden="true" (click)="saveNews()"></i>
                <i *ngIf="allSavedNews.includes(objData.Id)" class="fa fa-bookmark  mt-5 pt-2 mx-4 fa-2x" aria-hidden="true"></i> -->
                <!-- <i class="far fa-share menuIcon"></i>  -->
            </div>
        </div>
    </div>
    <div>
        <h5 class="title1 mx-4 my-3">Alert</h5>

        <div class="row my-3 py-2" style="background-color:rgb(247, 247, 247);">
            <div class="col-4 text-center ">
                <div class="bgcolor mx-2 ">
                    <i class="fa fa-comments icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-4 my-auto">
                <h3 class="title"> Chat alert </h3>
            </div>
            <div class="col-4 m-auto">
                <div class="custom-control custom-switch form-check form-switch">
                    <input type="checkbox" class="custom-control-input form-check-input inputSwitch" id="remember_me">
                </div>
            </div>
        </div>



        <div class="row my-3 py-2" style="background-color:rgb(247, 247, 247);">
            <div class="col-4 text-center ">
                <div class="bgcolor mx-2 ">
                    <i class="fa fa-newspaper-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-4 my-auto">
                <h3 class="title"> News alert </h3>
            </div>
            <div class="col-4 m-auto">
                <div class="custom-control custom-switch form-check form-switch">
                    <input type="checkbox" class="custom-control-input form-check-input inputSwitch" id="remember_me">
                </div>
            </div>
        </div>


        <div class="row my-3 py-2" style="background-color:rgb(247, 247, 247);">
            <div class="col-4 text-center ">
                <div class="bgcolor mx-2 ">
                    <i class="fa fa-globe icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-4 my-auto">
                <h3 class="title"> Event alert </h3>
            </div>
            <div class="col-4 m-auto">
                <div class="custom-control custom-switch form-check form-switch">
                    <input type="checkbox" class="custom-control-input form-check-input inputSwitch" id="remember_me">
                </div>
            </div>
        </div>

        <div class="row my-3 py-2" style="background-color:rgb(247, 247, 247);">
            <div class="col-4 text-center ">
                <div class="bgcolor mx-2 ">
                    <i class=" fa-solid fa-message nav__icon icon"></i>
                </div>
            </div>
            <div class="col-4 my-auto">
                <h3 class="title"> Blogs alert </h3>
            </div>
            <div class="col-4 m-auto">
                <div class="custom-control custom-switch form-check form-switch">
                    <input type="checkbox" class="custom-control-input form-check-input inputSwitch" id="remember_me">
                </div>
            </div>
        </div>


        <div class="row my-3 py-2" style="background-color:rgb(247, 247, 247);">
            <div class="col-4 text-center ">
                <div class="bgcolor mx-2 ">
                    <i class="fas fa-user-tie nav__icon icon" ia-hidden="true"></i>
                </div>
            </div>
            <div class="col-4 my-auto">
                <h3 class="title"> Job alert </h3>
            </div>
            <div class="col-4 m-auto">
                <div class="custom-control custom-switch form-check form-switch">
                    <input type="checkbox" class="custom-control-input form-check-input inputSwitch" id="remember_me">
                </div>
            </div>
        </div>






    </div>
</div>