<app-header1></app-header1>
<div class="contact_us_wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact_wrapper">
                    <h3 class="h1">Email Id: </h3> 
                    <a href="mailto:info@pharmaclick.co.in"><p class="h2">info@pharmaclick.co.in</p></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact_wrapper">
                    <h3 class="h1">Contact number : </h3> 
                    <a href="tel:+91 9833109522"><p class="h2">+91 9833109522</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>