<div class="password_change_wrapper">
    <div class="container mb-5 p-0">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="password_inner_wrapper">
                    <div class="profilediv">
                        <div class="row mb-5 mt-5">
                            <div class="col-2 text-left">
                                <a (click)="goBack()" class="back-icon">
                                    <i class="fa-solid fa-arrow-left backArrow"></i>
                                </a>
                            </div>
                            <div class="col-8 profileImg text-center">
                                <div class="position-relative">
                                    <div>
                                        <span class="profileImgBack"><img class="profilepic" [src]="base64textString"
                                                alt="Profile Image"></span>
                                    </div>
                                    <div class="mt-5">
                                        <h2 class="profileTitle">{{profileName}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="password_bottom_wrapper">
                    <div class="password_top_wrapper">
                        <h4 class="main_heading text-center">Change password...?</h4>
                        <div class="row justify-content-center">
                           <div class="col-10">
                                <div class="border-0" id="passChanged">
                                    <h4 class="heading1">New Password</h4>
                                    <div class="input_main">
                                        <div class="input_icon">
                                            <i class="fa fa-key icons"></i>
                                        </div>
                                        <div class="form-group input_group">
                                            <div class="mb-3">
                                                <input type="password" class="form-control emailText" formControlName="newPassword" (change)="cPass($event)" placeholder="Enter new password">
                                              </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="col-10 text-center mt-3 mb-3">
                            <div class="profile_button">
                                <button type="button" (click)="changePass()" class="btn btn-info ">Change</button>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>