
<!-- <div class="main"> -->
    <div class="row imgRow">
        <div class="imgDiv">
            <img class="mainImg img-fluid" src="../../../../../assets/images/Brand_logo01.png" alt="Pharma Logos">
        </div>
    </div>
    <!-- ----------------------- -->
<div class="container1">
    <div class="d-flex justify-content-center h-100 ">
        <div class="card">
            <div class="card-header">
                <h3>Password Recovery</h3>
            </div>
            <div class="card-body" id="forgotPassCard">
                <!-- <form formName="insertForm" (ngSubmit)="onClickForgotPassword(insertForm)" #insertForm="ngForm"> -->
                <!-- <form [formGroup]="insertForm" (ngSubmit)="onClickForgotPassword(insertForm)"> -->
                    <!-- <input type="text"  [(ngModel)]="Pass"> -->
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-user" style="font-size:15px;"></i></span>
                        </div>
                        <input type="text" class="emailText" id="myText" (change)="userNames($event)" placeholder="   Enter your user name">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope" style="font-size:15px;"></i></span>
                        </div>
                        <input type="email" class=" emailText" (change)="FPass($event)" placeholder="   Enter your email">
                        <!-- <input type="email" class="form-control emailText" ngModel="Email" ngModel>                  -->
                    </div>
                    <div class="form-group">
                        <input type="submit" (click)="onClickForgotPassword()" value="Submit" [disabled]="Email.invalid"  class="btn float-right btn-info">
                    </div>
                    <div id="errors" class="errorMessage">
                        <!-- <div *ngIf="Email.touched && Email.errors" class="errorMessage">
                            <span *ngIf="Email.hasError('required')">Email is required</span>
                        </div> -->
                    </div>
                <!-- </form> -->
            </div>
            <div class="row">
                <div class="col-md-6 mx-3 mb-3">
                    <a href="/auth/login" style="text-decoration: none; color: #0d4161;">Back to <span class="text-danger">Login</span></a>
                </div>
            </div>
        </div>
    </div>
</div>




<!--     
<div class="container-fluid mt-5">
    <div class="row mt-5">
            <div class="card shadow">
                <div class="card-body">
                    <form [formGroup]="sendLinkForm">
                        <div class="mb-3 headerBack">
                            <h4 class="text-dark text-muted">Forgot password</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>

                          <input type="email" class="form-control emailText" formControlName="email" (ngModel)="email" ngModel required>
                        </div>
                        <button type="button" class="btn btn-info" (click)="onClickForgotPassword(emailData.email)">Send Link</button>
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <a href="/auth/login" style="text-decoration: none; color: #0d4161;">Back to <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
 -->
