.main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.imgDiv {
    text-align: center;
}

.mainImg {
    height: 6rem;
}

.imgRow {
    padding-top: 4rem;
}
/* ----------- */
.container1{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.cardB{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #acdbf8 1px solid;
    border-radius: 10px;
}
.card{
    width: 320px;
    border-radius: 10px;
    border: #acdbf8 1px solid;

}
.card shadow{
    border-radius: 14px;
}
.headerBack{
    /* background: #d4e9f7;
    background: linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
    background: -webkit-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
    background: -moz-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
     */
    color: black;
    font-size: 24px;
    
}

.input-group-text{
    border-radius: 8px;
    height: 29px;
    margin-right: -4px;
    border: 1px solid #73b9e4;
    width: 35px;
}
.btn-info{
    background-color:#0d4161;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10px;
}
.emailText{
    border-radius: 8px;
    width: 250px;
    border: #9dd1ef 1px solid;
    height: 28px;
    font-size: 14px;
}