
  
  
  <!-- <router-outlet></router-outlet> -->
  <!----------------------------------------------------------------  -->

<!-- --------------------------- -->
<!-- <div class="header-title">
    <h2>Drugs & Pharmaceuticals: Eye Care, Skin Care, General Health and Common Diseases</h2>
</div>
<div class="container d-flex justify-content-center">
    <div class="cards" *ngFor = "let product of products"> -->
    <!-- <div class="d-flex justify-content-start w-5o row flex-wrap">
        <div class="" *ngFor="let product of productList">
        <div
            class="cards d-flex"
        >
            <div class="card-body col-xs-12 col-xs-6 col-md-4">
                <a routerLink="/home/product/product-details">
                    <img
                    class="d-flex justify-content-center align-items-center py-2"
                    src="{{product.url}}"
                    alt="..."
                >
                </a>
            </div>
            <div>
                <ul class="d-flex row justify-content-between p-5">
                    <li>
                        Product Name:{{product.prodName}}
                    </li>
                    <li>
                        Price:{{product.price}}
                    </li>
                    <li>
                      Description:{{product.description}}
                    </li>
                </ul>
            </div>
        </div>
        </div> -->
        <!-- -------------------------------------------- -->
        <!-- <div
            class="cards d-flex"
        >
            <div class="card-body col-xs-6 col-md-4">
                <a routerLink="/home/product/product-details">
                    <img
                    class="d-flex justify-content-center align-items-center py-2"
                    src="assets/images/img-2.jpg"
                    alt="..."
                >
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <ul class="d-flex row justify-content-between p-5">
                <li>
                    Product Name:Tablats packeging
                </li>
                <li>
                    Price : 200rss
                </li>
                <li>
                  glass botals and tablate
                </li>
            </ul>
        </div>-->
    <!-- </div>
</div> -->

