

<div class="mainDiv">
    <div class="headerContents">
        <div class="row mb-5 mt-5">
            <div class="col-3">
                <i class="fa-solid fa-arrow-left backArrow" (click)="goBack()"></i>
            </div>
            <div class="col-6 profileImg text-center ">
                <div>
                    <!-- <span class="profileImgBack"><img class="profilepic" src="" alt="Profile Image"></span> -->
                    <span class="profileImgBack"><img class="profilepic" [src]="base64textString" alt="Profile Image"></span>
                </div>
                
                <h2 style=" color: #225679; font-size: 14px;text-align: center; margin-top: 10px;">{{profileName}}</h2>
            </div>
        </div>
    </div>
</div> 

<div class="main">
    <div class="row mt-5" style="display: flex; justify-content: center; align-items: center;">
        <!-- <div class="col"></div> -->
        <!-- <div class="col-4"> -->
            <div class="card shadow" id="passChanged">
                <div class="card-body">
                    <!-- <form [formGroup]="Form" (ngSubmit)="onSubmitForm"> -->
                        <div class="mb-3 headerBack">
                            <h4 class="text-dark text-muted">Change password...?</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">New Password</label>
                          <input type="password" class="form-control emailText" formControlName="newPassword" (change)="cPass($event)" placeholder="Enter new password">
                        </div>
                        <!-- <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Confirm new Password</label>
                            <input type="password" class="form-control emailText" formControlName="password" ngModel required>
                        </div> -->
                        <button type="button" (click)="changePass()" class="btn btn-info">Change</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>


</div>