
.mainDiv{
    height: 27vh;
    overflow-y: hidden;
    font-family: 'Pensum Sans';

    background: #d4e9f7;
background: linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
background: -webkit-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
background: -moz-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);


}
.headerContents{
    margin: 5px 15px 5px 15px;

}
.imgField{
    margin-top: 30px;
}
.icon{
    font-size: 20px;
    color: #225679;
    position: absolute;
    margin-top: 50px;
    margin-left: 16px;
}
.profileImg{
    align-items: center;
    justify-content: center;
}
.profileImgBack{
    display: block;
    background-color: white;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-left: 50px;
    
}
.profilepic{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin-left: 3px;
    margin-top: 3px;
}
.backArrow{
    font-size: 25px;
    color: white;
}

.penIcon{
    font-size: 20px;
    float: right;
    color: white;
}
/* ------------------------- */
.main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.imgDiv {
    text-align: center;
}

.mainImg {
    height: 6rem;
}

.imgRow {
    padding-top: 4rem;
}
/* ------- */
.card shadow{
    border-radius: 14px;
}
.cardB{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #acdbf8 1px solid;
    border-radius: 10px;
}
.card{
    width: 320px;
    border-radius: 10px;
    border: #acdbf8 1px solid;

}

.headerBack{
    /* background: #d4e9f7;
    background: linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
    background: -webkit-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
    background: -moz-linear-gradient(90deg,#d4e9f7 0%, #759cb5 80%);
     */
    color: black;
    font-size: 24px;
    
}

.btn-info{
    background-color:#0d4161;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}
.emailText{
    border-radius: 12px;
    /* background-color: white; */
    border: #9dd1ef 1px solid;
    height: 28px;
    font-size: 14px;
}