<div class="container">
    <div class="p-5 my-4 bg-white rounded-3 img-border">
        <img src="assets/images/img-2.jpg">
    </div>
    <div class="row g-3">
        <div class="col-md-6 col-lg-4 col-xl-3 p-4">
            <h2><strong>Pharmaceutical Tablets, 251mg-350mg And >600mg</strong></h2><br/>
                <p><i class="fa fa-rupee-sign"></i><strong>50</strong><span>/piece</span></p>
                <p><span>Sold by-</span><strong>Yashica Pharmaceuticals Private Limited, Thane, Maharashtra</strong></p>
                <p><strong>Packaging Type: Sachet, Pouches, Strips, Carton, Bottles</strong></p>
                <p><strong>Dose: >600mg, 501mg-600mg, <100 mg, 101mg-250mg, 251mg-350mg, 351mg-500mg</strong></p>
        </div>
    </div>
</div>
<div>
    <app-enquiry-form></app-enquiry-form>
</div>
