<div class="signup_main_header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="back_button">
                    <i class="fa-solid fa-arrow-left " (click)="goBack()"></i>
                </div>
            </div>
            <div class="col-6">
                <div class="imgDiv main_logo text-center">
                    <img class="mainImg img-fluid" src="./assets/images/Brand_logo01.png" alt="Pharma Logos">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="signup_main_wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="signup_inner_wrapper">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
                        <h3 class="main_heading_text text-center mb-5">Sign Up</h3>
                        <div class="col-12 inputDesign">
                            <div class="inputContainerFName input_wrapper">
                                <div class="input_group">
                                    <i class="far fa-user loginImage"></i>
                                </div>
                                <input class="inputFName" formControlName="FirstName" type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.FirstName.errors}"
                                    placeholder="First Name">
                                <div *ngIf="isSubmitted && f.FirstName.errors?.required"
                                    class="invalid-feedback text-danger">First name is required</div>
                            </div>
                        </div>
                        <div class="col-12 inputDesign">
                            <div class="inputContainerLName input_wrapper">
                                <div class="input_group">
                                    <i class="far fa-user loginImage"></i>
                                </div>
                                <input class="inputLName" type="text" formControlName="LastName" type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.LastName.errors}"
                                    placeholder="Last Name">
                                <div *ngIf="isSubmitted && f.LastName.errors?.required"
                                    class="invalid-feedback text-danger">Last name is required</div>
                            </div>
                        </div>

                        <div class="col-12 inputDesign">
                            <div class="inputContainerLName input_wrapper">
                                <div class="input_group">
                                    <i class="far fa-user loginImage"></i>
                                </div>
                                <input class="inputLName" type="text" formControlName="userName" type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.userName.errors}"
                                    placeholder="User Name">
                                <div *ngIf="isSubmitted && f.userName.errors?.required"
                                    class="invalid-feedback text-danger">User name is required</div>
                            </div>
                        </div>

                        <div class="col-12 inputDesign">
                            <div class="inputContainerMob input_wrapper">
                                <div class="input_group">
                                    <i class="fa fa-mobile mobIcon"></i>
                                </div>
                                <select name="" id="" class="selectIsd form-control" (change)="selectIsd($event)">
                                    <option [value]="isd.dial_code" class="isdOpt" *ngFor="let isd of IsdCodes">
                                        {{isd.code}} &nbsp; {{isd.dial_code}} </option>
                                </select>
                                <input class="inputMob" type="text" formControlName="MobileNumber" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.MobileNumber.errors}"
                                    placeholder="Mobile Number">

                                <div *ngIf="isSubmitted && f.MobileNumber.errors?.required"
                                    class="invalid-feedback text-danger">Mobile Number is required</div>
                                <div *ngIf="isSubmitted && f.MobileNumber.errors?.pattern" class="invalid-feedback">
                                    Please Enter valid Mobile Number.</div>
                            </div>
                        </div>
                        <div class="col-12 inputDesign ">
                            <div class="inputContainerMail input_wrapper">
                                <div class="input_group">
                                    <i class="fa-solid fa-envelope loginImage"></i>
                                </div>
                                <input class="inputMail " type="email " formControlName="Email" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.Email.errors}"
                                    placeholder="abc@email.com ">
                                <div *ngIf="isSubmitted && f.Email.errors?.pattern"
                                    class="invalid-feedback text-danger">Please Enter valid email.</div>
                                <div *ngIf="isSubmitted && f.Email.errors?.required" class="invalid-feedback">Email is
                                    required</div>
                            </div>

                        </div>
                        <div class="col-12 inputDesign ">
                            <div class="inputContainerOrg input_wrapper">
                                <div class="input_group">
                                    <i class="fa fa-building loginImage "></i>
                                </div>
                                <input class="inputOrg " type="text " formControlName="CompanyName" type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.CompanyName.errors}"
                                    placeholder="Company Name ">
                                <div *ngIf="isSubmitted && f.CompanyName.errors?.required"
                                    class="invalid-feedback text-danger">Company Name is required</div>
                            </div>
                        </div>
                        <div class="col-12 inputDesign ">
                            <div class="inputContainerEdu input_wrapper">
                                <div class="input_group">
                                    <i class="fas fa-user-tie  loginImage "></i>
                                </div>
                                <input class="inputEdu " type="text " formControlName="Designation" type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.Designation.errors}"
                                    placeholder="Designation ">
                                <div *ngIf="isSubmitted && f.Designation.errors?.required" class="invalid-feedback ">
                                    Designation is required</div>
                            </div>
                        </div>
                        <div class="col-12 inputDesign ">
                            <div class="inputContainerPas input_wrapper">
                                <div class="input_group">
                                    <i class="fa-solid fa-lock loginImage "></i>
                                </div>
                                <input class="inputPass " type="password " formControlName="Password" type="text"
                                    required [ngClass]="{'is-invalid': isSubmitted && f.Password.errors}"
                                    placeholder="Your Password ">
                                <div *ngIf="isSubmitted && f.Password.errors?.required" class="invalid-feedback">
                                    Password is required</div>
                                <div *ngIf="isSubmitted && f.Password.errors?.pattern"
                                    class="invalid-feedback text-danger">Password must contain more than 8 characters, 1
                                    numeric, 1 upper case letter, and 1 special character($@$!%*?&).</div>
                            </div>
                        </div>
                        <div class="col-12 inputDesign ">
                            <div class="inputContainerConfPas input_wrapper">
                                <div class="input_group">
                                    <i class="fa-solid fa-lock loginImage "></i>
                                </div>
                                <input class="inputConfPass " type="password " formControlName="ConfirmPassword"
                                    type="text" required
                                    [ngClass]="{'is-invalid': isSubmitted && f.ConfirmPassword.errors}"
                                    placeholder="Confirm Password ">
                                <div *ngIf="isSubmitted && f.ConfirmPassword.errors?.required" class="invalid-feedback">
                                    Confirm is required</div>
                                <div *ngIf="isSubmitted && f.ConfirmPassword.errors?.confirmPasswordValidator"
                                    class="invalid-feedback text-danger">Password Confirmation must match password</div>
                            </div>
                        </div>
                        <div class="form-check mt-3">
                            <input type="checkbox" id="accepted1" style="width:15px;"
                                formControlName="accepted1" required
                                [ngClass]="{ 'is-invalid': isSubmitted && f.accepted1.errors }" />
                            <label class="form-check-label mx-3" for="check1" style="margin-top: -32px;">I have read and<a
                                    routerLink="/auth/terms-condition"
                                    class="text-decoration-none terms_text">&nbsp;Accept Terms & Conditions</a>
                            </label>
                        </div>
                        <div class="row submitRow mt-5 justify-content-center">
                            <div class="col-8 ">
                                <div class="LoginSubmit ">
                                    <button class="btn  submitBtn " id="id_complete2">SIGN UP &nbsp;<i
                                            class="fa-solid fa-arrow-right submitIcon "></i></button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bottom_signin_links">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 text-center">
            <div class="socialLogin ">
                <label class="askAccountTitle ">Already have an account?</label>
                <a class="signUpLink " routerLink="/auth/login " (click)="signIn() ">Sign In</a>
            </div>
        </div>
    </div>
</div>