<!-- Company Swtich Case -->
<!-- <h3 class="text-success" *ngSwitchCase="'Company'">{{selectedPro}}</h3> -->
<div class="menuDiv" *ngIf="matchUrl ==='/home/company/company-details' && matchUrl !== 'home/product/product-create'">
    <i class="fa fa-arrow-left mx-4 mt-2 pt-2 backArr" (click)="goBack()" aria-hidden="true"></i>
</div>
<div *ngIf="!companylist || companylist.length === 0">
    <p class="mx-3 mt-5"> Company list is not available...!</p>
</div>

<div class="row mt-5 compny_Div" *ngFor="let org of companylist">

    <div class="col-12 cols p-3 my-2" (click)="companyData(org.CompanyId)">
        <a style="text-decoration: none;">
            <h5 class="text-start d-inline-block mx-2">{{org.Company}}</h5>

            <span class="float-end  allrate">
                <i class="fa fa-star-o text-warning mx-1" aria-hidden="true"></i>
                <span class="rate">{{org.Rating}}</span>
            </span>

            <h6 class="cat_type mx-2">{{org.BusinessType}}</h6>
            <div class="mx-2 descrip" style="word-break: break-all;">
                <span *ngFor="let pro of org.Products;let i = index;"> 
                    <span *ngIf="i<10" style="
                    
                    padding: 0px;
    margin-right: 4px;">{{pro.ProductName }}<span *ngIf="(org.Products.length >= 10 && i<9)||( org.Products.length < 10 && i<org.Products.length-1)">,</span></span>
                </span>

                <!-- {{org.AboutCompany}} -->

            </div>
            <h5 class="city mx-2 my-2"> <i class="fa fa-map-marker" aria-hidden="true"></i> {{org.City }} &nbsp; {{org.State}}</h5>
        </a>
    </div>
</div>