<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/solid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<!--Main header-->
<div class="container-fluid main_nav_bar">
    <div class="container main_nav_bar_inner">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-left">
                <div class="menu_icon_header">
                    <button (click)="openMenu()"><i class="fa fa-bars menuIcon" aria-hidden="true "></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                <div class="menu_logo">
                    <img src="../../../../assets/images/Brand_logo.png" class="img-fluid logimg"
                        alt="Pharma Click Logo ">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="search_menu mr-2">
                        <div class="menuDiv">
                            <a (click)="openSearch() ">
                                <i class="fa fa-search menuIcon mt-2 mx-2 float-end " aria-hidden="true "></i>
                            </a>
                        </div>
                    </div>
                    <div class="notification_icon ">
                        <a routerLink="/notifications">
                            <i class="fa fa-bell-o" aria-hidden="true "></i>
                            <div class="badge ">.</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div [class]="classMenu" id="side_menu_drawer">
        <div class="main1" id="sideNavClose">
            <div class="nav__links" id="closN">
                <a class="closebtn" (click)="closeNav()"><i class="fa-solid fa-xmark"></i></a>
                <div class="profile justify-content-start">
                    <span class="profileImgBack">
                        <img class="profilepic" [src]="base64textString" alt="Profile Image"
                            onerror="this.src='../../../../../assets/images/user.png'" />
                    </span>
                    <h2 class="profileTitle ">{{profileName}}</h2>
                </div>
                <ul class="mx-auto">
                    <li><i class="far fa-user"></i> <a routerLink="/profile" class="">My Account</a>
                    </li>
                    <li><i class="fa fa-briefcase "></i>
                        <a routerLink="/profile" class="">Job Profile</a>
                    </li>
                    <li>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <a class="feat-btn">Saved Items
                            <span class="fa-solid fa-angle-right first " aria-hidden="true"></span>
                        </a>
                        <ul class="feat-show">
                            <li><a routerLink="/GetSaveItem/Company">Companies</a></li>
                            <li><a routerLink="/GetSaveItem/News">News</a></li>
                            <li><a routerLink="/GetSaveItem/Events">Events</a></li>
                            <li><a>Blogs</a></li>
                            <li><a>Jobs</a></li>
                        </ul>
                    </li>
                    <li><i class=" fa-solid fa-message  " style="font-weight: normal; "></i> <a class=" ">Chat</a>
                    </li>
                    <!-- <li>
                        <i class="fa fa-calendar-o  "></i> <a class=" ">Calender</a>
                    </li> -->
                    <li>
                        <i class="fa fa-star-o  "></i> <a class=" ">Rated Companies</a>
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up  "></i> <a class=" ">Following</a>
                    </li>
                    <li>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <a class="feat-btn1">Setting
                            <span class="fa-solid fa-angle-right first1" aria-hidden="true"></span>
                        </a>
                        <ul class="feat-show1">
                            <li><a>Notification</a></li>
                            <li><a routerLink="/auth/change-password">Change Password</a></li>
                            <li><a routerLink="/alert">Alert</a></li>
                            <li><a>Rate Us</a></li>
                            <li (click)="moveToPrivacy()">
                                <a routerLink="/privacyPolicy ">Privacy & policy</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="far fa-circle-question  "></i> <a class=" ">Help & FAQs</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o  "></i> <a routerLink="/contact " class=" ">Contact Us</a>
                    </li>
                    <li>
                        <a class=" " (click)="logout() "> <i class="fas fa-arrow-right-to-bracket  "></i> Sign
                            Out</a>
                    </li>
                </ul>
            </div>
            <div class=" nav__overlay " (click)="closeMenu() "></div>
        </div>
    </div>
</div>

<app-search-blogs [classSearch1]="classSearch1" (toggleEvent)="receiveSearchMesg($event)"></app-search-blogs>

<!--Main header-->
<div class="container blog_main_wrapper">
    <div class="row justify-content-center set-to-top">
        <div class="col-lg-6 text-left">
            <h2 class="content_heading mb-3">Blogs</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 co-sm-12 hidden-sm hidden-xs mt-2">
            <div class="left_side_icon_listing column_bg_border">
                <div class="hexagon_img">
                    <a routerLink="/home/product/category">
                        <h1 class="title">
                            <i class="fa fa-comments nav__icon" aria-hidden="true"></i>
                            <div class="content">Marketplace</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/allnews">
                        <h1 class="title">
                            <i class="fa fa-newspaper-o nav__icon" aria-hidden="true"></i>
                            <div class="content">News</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/events">
                        <h1 class="title">
                            <i class="fa fa-globe nav__icon" aria-hidden="true"></i>
                            <div class="content">Events</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/blogs">
                        <h1 class="title1" [routerLinkActive]="'active-link1'"
                            [class.active-link1]="path1=='/blogs/blogslist' ">
                            <i class="fa-solid fa-message nav__icon"></i>
                            <div class="content">Blogs</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/job">
                        <h1 class="title">
                            <i class="fas fa-user-tie nav__icon"></i>
                            <div class="content">Jobs</div>
                        </h1>
                    </a>
                </div>
                <div class="hexagon_img">
                    <a routerLink="/all-section">
                        <h1 class="title">
                            <i class="fa-solid fa-list nav__icon"></i>
                            <div class="content">All</div>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLongTitle" style="font-size: 25px; margin-left:-178px; font-weight: 500;">Share</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="margin-right: -350px;">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="social-icons">
           
                 
                 <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fpharmaclick.co.in%2Fweb%2Fevents%2Fevents%2Fevent-list
                 " target="_blank" rel="noopener noreferrer"class="btn btn-primary" style="background-color: #3b5998; margin-right: 10px; font-size: 22px;" role="button"><i class="fab fa-facebook-f text-white"></i></a> 
                    <a href="https://twitter.com/intent/tweet?text={{share1}}&url=https://pharmaclick.co.in/web/blogs/blogslist&title={{share1}}"  target="_blank" rel="noopener noreferrer"class="btn btn-primary" style="background-color: #55acee; margin-right: 10px; font-size: 22px;"  role="button"><i class="fab fa-twitter text-white"></i></a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://pharmaclick.co.in/web/blogs/blogslist&title={{share1}}" target="_blank" rel="noopener" class="btn btn-primary" style="background-color: #0077B5; margin-right: 10px; font-size: 22px;">
            <i class="fa fa-linkedin text-white"></i>
          </a>
                    <a href="mailto:?subject={{share1}}&amp;body=I%20found%20this%20awesome%20website%20and%20thought%20you%20might%20like%20it:%20https://pharmaclick.co.in/web/blogs/blogslist" class="btn btn-primary" style="background-color: #333333; margin-right: 10px; font-size: 22px;" role="button"> <i class="fa fa-envelope text-white"></i></a>
                  
                   
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-6 col-md-12 co-sm-12 mt-2">
            <div class="column_bg_border">
                <div class="row mt-5 scroll_slider">

                    <div class="blog_desc col-12">
                        <div id="search" class="content-item">
                            <div class="blog_listing_main">
                                <div *ngIf="!blogList || blogList.length === 0"class="spinner-overlay">
                                    <div class="spinner"></div>
                                  </div>

                                <div *ngIf="!dispayData">
                                    <content-loader>
                                        <svg:rect x="20" y="20" rx="5" ry="5" width="360" height="350" />
        
                                    </content-loader>
                                    <content-loader>
                                        <svg:rect x="20" y="20" rx="5" ry="5" width="360" height="350" />
        
                                    </content-loader>
                                    <content-loader>
                                        <svg:rect x="20" y="20" rx="5" ry="5" width="360" height="350" />
        
                                    </content-loader>
                                    <content-loader>
                                        <svg:rect x="20" y="20" rx="5" ry="5" width="360" height="350" />
        
                                    </content-loader>
                                </div>

                                <div class="row mx-4 my-3 blog_details p-0" *ngFor="let obj of blogList">
                                    <div class="col-8 col-sm-6 col-lg-8 relat ">
                                        <div class="left_blog_desc">
                                            <div class="d-flex authordetails_wrapper">
                                                <span class="mx-1" (click)="blogsData(obj.Id)">
                                                    <img onerror="this.src='../../../../../assets/images/user.png'"
                                                        [src]="obj.AuthorImg" alt="" class="img-fluid idimg mt-1" />
                                                    <!-- <img *ngIf="userData != obj.AuthorId" src="../../../../../assets/images/user.png"
                                                        alt="" class="img-fluid idimg mt-1" /> -->
                                                    <span class="mx-3 name">{{ obj.PublisherName }}</span>
                                                </span>
                                            </div>
                                            <div class="desc">
                                                <a (click)="blogsData(obj.Id)"> {{ obj.Title }}</a>
                                            </div>
                                            <div class="rel">
                                                <div class="absu">
                                                    <span class="time my-1">
                                                        <!-- <span>{{ obj.PostedAt | date : "MMMM d" }}</span> -->
                                                        <span class="">{{getTimeAgo(obj)}}&nbsp;</span>
                                                        <!-- <span class="">{{ hourTime(obj) }}</span> -->
                                                    </span>
                                                    <div class="media py-1">
                                                        <span>
                                                            <a (click)="saveBlogsD(obj)">
                                                                <i *ngIf="!allSavedBlogs.includes(obj.Id)"
                                                                    class="fa-regular fa-bookmark mx-2"
                                                                    id="changeColor"></i>
                                                                <i *ngIf="allSavedBlogs.includes(obj.Id)"
                                                                    class="fa fa-bookmark px-2" aria-hidden="true "></i>
                                                            </a></span>
                                                        <span><i id="share" class="fa fa-share mx-4" aria-hidden="true"
                                                                (click)="shareBloglist()"(click)="share(obj.Title )"aria-hidden="true"type="button" data-toggle="modal" data-target="#exampleModalCenter"></i></span>
                                                        <span><i id="thumb" class="fa fa-thumbs-o-up"
                                                                aria-hidden="true"></i> <small> {{ obj.LikeCount }}</small></span>
                                                        <span class="mx-4"><i class="fa fa-comment-o"
                                                                aria-hidden="true"></i><small>  {{ obj.CommentCount }}</small></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-4 p-0">
                                        <div class="right_blog_img">
                                            <span *ngIf="!obj.BlogImglink">
                                                <content-loader >
                                                    <svg:rect x="20" y="20" rx="2" ry="5" width="360" height="350" />
                    
                                                </content-loader>
                                            </span>
                                                <img *ngIf="obj.BlogImglink" onerror="this.src='../../../../../assets/images/whiteImg.png'"
                                                    [src]="obj.BlogImglink" class="img-fluid img-center image-center" />
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="btn-group btn-toggle blog_button_wrapper">
                    <button class="btn btn1 btn-lg active mobile-nav-tab" id="search-tab ">
                        Read Blogs
                    </button>
                    <button class="btn btn2 btn-lg btn-default mobile-nav-tab" id="menu-tab "
                        (click)="redirectToWriteBlog()">
                        Write Blogs
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 co-sm-12 mt-2 hidden-sm hidden-xs">
            <div class="right_side_listing column_bg_border mb-3">
                <div class="p-2 pt-0">
                    <div class="mt-0">
                        <h2 class="content_medium_heading mb-5">Advertiesment</h2>
                    </div>
                </div>
            </div>
            <div class="right_side_listing column_bg_border">
                <div class="p-2 pt-0">
                    <div class="mt-0">
                        <h2 class="content_medium_heading mb-5">Advertiesment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>